.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(123 121 121 / 23%);
    height: 100px;
    flex: 0 0 23%;
    border-radius: 10px;
    box-sizing: border-box;
}
.card:hover{
    background: #FF416C;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    cursor: pointer;
    color: white;
}
